/* Universal Styling */
* {
    font-family: 'Roboto', sans-serif;
}

/* Header Styling */
header h1 {
    background-image: linear-gradient(blue, darkblue);
    color: white;
    font-size: bolder;
    text-align: center;
    padding: 15px;
}

/* Search for a City Styling */
label {
    font-size: 2rem;
    padding-left: 25px;
    font-weight: bolder;
}

.input-form {
    padding-left: 20px;
}

.submit-btn {
    margin-top: 10px;
}