/* Universal Styling */
* {
    font-family: 'Roboto', sans-serif;
}

/* Header Styling */
header h1 {
    background-image: linear-gradient(blue, darkblue);
    color: white;
    font-size: bolder;
    text-align: center;
    padding: 15px;
}

/* Submit Button Margin */
.submit-btn {
    margin-top: 10px;
}

/* Classes and Styling for UV Index Colors */
/* Low = Green */
.low {
    background-color: green;
    color: white;
}

/* Moderate = Yellow */
.moderate {
    background-color: yellow;
    color: white;
}

/* High = Orange */
.high {
    background-color: orange;
    color: white;
}

/* Very High = Red */
.very-high {
    background-color :red;
    color: white;
}

/* Extreme = Magenta */
.extreme {
    background-color: magenta;
    color: white;
}

.previous-searches {
    background-color: black;
}







