/* Universal Styling */
* {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

/* Header Styling */
header h1 {
    background-image: linear-gradient(blue, darkblue);
    color: white;
    font-size: bolder;
    text-align: center;
    padding: 15px;
}

/* Capitalize City for Buttons */
button {
    text-transform: capitalize;
}

/* Submit Button Margin */
.submit-btn {
    margin-top: 10px;
}

/* Classes and Styling for UV Index Colors */
/* Low = Green */
.low {
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

}

/* Moderate = Yellow */
.moderate {
    background-color: yellow;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* High = Orange */
.high {
    background-color: orange;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Very High = Red */
.very-high {
    background-color :red;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Extreme = Magenta */
.extreme {
    background-color: magenta;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.previous-searches {
    background-color: black;
}

.current-weather {
    border: 2px solid black;
}

.five-day {
    background-image: linear-gradient(to bottom, lightblue,blue
    );
    color: white;
}

.current-weather {
    font-size: 1.5rem;
}

.weather-info {
    color: white;
}

